p {
  padding: 0;
  margin: 0;
}

.notifications {
    padding: .5em;
    background-color: #e9ffce;
    border: #73c212 .25em solid;
    border-radius: .5em;
    color: #006d00;
    font-size: 1.5rem;
    margin: 30px 0px;
}

.error {
    background-color: #f5b8b8;
    border: #c40707 .25em solid;
    color: #760606;
}