#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.App { 
  border: 1px solid black;
  padding: 2em;
  width: 700px;
}
.nav{
  display: flex;
  gap: 1em
}
.selected {
  background-color: greenyellow;
}